/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
	height: 30px;
	border-bottom: 1px solid #b3b3b3;
}

header a {
	font-size: large;
	line-height: 29px;
	margin-right: 10px;
}

header a:hover {
	color: black;
	background-color: white;
	text-decoration: none;
}

footer {
	text-align: center;
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
	height: 20px;
	margin-top: 20px;
}

footer div {
	line-height: 20px;
}