
// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-btn {
	margin: 20px auto 0;
	width: 90%;
}

.poster-wrapper img {
	height: 30px;
	width: 30px;
}

.content-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 0;
}

.imagine-wrapper {
	width: 100%;
	margin: 0 auto;
}

.imagine-box {
	width: 50%;
	margin: 20px auto;
	padding: 20px;
	border-bottom: 1px solid #b3b3b3;
}

.content-wrapper {
	width: 100%;
	margin: 0 auto;
}

.select-box {
	text-align: right;
	margin-top: 10px;
}

//form
.form-wrapper {
	width: 80%;
	margin: 20px auto;
	border: 1px solid #b3b3b3;
}

.form-box {
	width: 90%;
	margin: auto;
}

.select-btn {
	text-align: right;
	padding-right: 10px;
}

.thumbnail img {
	border-radius: 0;

}